<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:replace="fragments/navigation.html :: bs"/>
</head>
<body>

<nav
    th:replace="fragments/navigation.html :: navigation"/>

<h1 th:if="${adding}">Add User</h1>
<h1 th:if="${!adding}">Edit User</h1>

<div th:text="${user}"></div>

<form
        th:action="@{/jpa/edit/{id}(id=${userDto.id()})}"
        th:object="${userDto}"
        method="post"
>
    <input
        id="id"
        type="hidden"
        th:field="*{id}"
        readonly/><br>
    <input
        id="name"
        type="text"
        th:field="*{name}"/><br>
    <input
            id="email"
            type="email"
            th:field="*{email}"/><br>
    <input
            id="password"
            type="password"
            th:field="*{password}"/><br>
    <input
            id="passwordConfirm"
            type="password"
            th:field="*{confirmPassword}"/><br>
    <button type="submit">Save</button>
</form>


<div th:replace="fragments/navigation.html :: footer"/>
</body>
</html>