<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:replace="fragments/navigation.html :: bs"/>
</head>
<body>

<nav
    th:replace="fragments/navigation.html :: navigation"/>

<h1 th:if="${adding}">Add User</h1>
<h1 th:if="${!adding}">Edit User</h1>

<div th:text="${user}"></div>

<form
        th:action="@{/jpa/edit/{id}(id=${user.getId()})}"
        th:object="${user}"
        method="post"
>
    <input
        id="name"
        type="text"
        th:field="*{name}"/><br>

    <button type="submit">Save</button>
</form>


<div th:replace="fragments/navigation.html :: footer"/>
</body>
</html>